// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


figure.logo{
    overflow: hidden;
    max-height: 40px;
    filter: invert(0);
    img{

        &:hover{
           filter: invert(1);
        }
    }
}
