<template>
    <section class="section customer">
        <fieldset>
            <legend>
                <h3>New Customer</h3>
            </legend>
            <label>
                <input type="text" class="form-control"
            </label>
        </fieldset>
    </section>
</template>
