<template>
    <nav class="navbar is-fixed-top" role="navigation">
        <div class="navbar-header">
            <a href="/" class="logo" title="Logo"><img src="/images/logo.png" alt="logo"/></a>
            <a role="button" type="button" class="navbar navbar-burger" aria-expanded="false" aria-label="menu"
               data-target="#app-navbar-collapse">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <div class="navbar-right-auto">
                <a href="login"></a>
            </div>
        </div>
        <div class="navbar-menu" id="app-navbar-collapse"> </div>
    </nav>
</template>

<script>


    export default {
        name: 'navbar',
        data() {
            return {


            }
        },
        methods: {
            toggleSnd: function() {
                this.volume ^= 1;
            }
        },

    };
</script>
